---
import Layout from '../layouts/Layout.astro';
import AuthContainer from '../components/AuthContainer';
import Dashboard from '../components/Dashboard';
---

<Layout title="AlphaBot-50 | Command Center">
	<main class="min-h-screen pt-12 pb-24">
		<div id="content-root">
			<Dashboard client:only="react" />
		</div>
	</main>
</Layout>

<style>
	main {
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
	}
</style>
